@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 48px 140px;
  max-width: 1440px;
}

.birinchi {
  display: flex;
}
.birinchi img {
  width: 765px;
  height: 764px;
}
.birinchi .content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  max-width: 567px;
  margin: 130px 0;
}
.birinchi .content p {
  text-transform: uppercase;
  color: #df6951;
}
.birinchi .content h1 {
  font-family: Volkhov;
  font-size: 84px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #181e4b;
}
.birinchi .content span {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #181e4b;
  width: 477px;
}
.birinchi .content .btn {
  display: flex;
  gap: 21px;
  align-items: center;
  justify-content: flex-start;
}
.birinchi .content .btn .button {
  width: 170px;
  height: 60px;
  border-radius: 10px;
  background: #f1a501;
  border: none;
  color: #fff;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.1490196078);
}
.birinchi .content .btn .clisc {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #df6951;
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3019607843);
  border: none;
}

.services-section {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
}
.services-section .images {
  position: absolute;
  top: 0;
  right: -100px;
}
.services-section .category {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
}
.services-section h2 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  text-align: center;
  color: #181e4b;
}
.services-section .services-container {
  display: flex;
  justify-content: space-between;
}
.services-section .services-container .service-card {
  margin: 20px;
  width: 267px;
  height: 314px;
  border-radius: 36px;
  text-align: center;
  transition: all 0.3s ease;
  padding: 44px;
}
.services-section .services-container .service-card img {
  width: 50px;
  margin-bottom: 15px;
}
.services-section .services-container .service-card h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}
.services-section .services-container .service-card p {
  font-size: 0.9rem;
  color: grey;
}
.services-section .services-container .service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.destinations-section {
  text-align: center;
  padding: 50px;
}
.destinations-section .category {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
}
.destinations-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #181e4b;
}
.destinations-section .destinations-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.destinations-section .destinations-container .destinations-content {
  width: 314px;
  height: 457px;
  border-radius: 24px;
  position: relative;
}
.destinations-section .destinations-container .destinations-content img {
  border-radius: 24px;
  width: 314px;
  height: 457px;
}
.destinations-section .destinations-container .destinations-content .destination-card {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 314px;
  height: 130px;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease;
}
.destinations-section .destinations-container .destinations-content .destination-card .destination-details {
  padding: 20px;
  text-align: left;
}
.destinations-section .destinations-container .destinations-content .destination-card .destination-details h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.destinations-section .destinations-container .destinations-content .destination-card .destination-details .price {
  font-size: 1.3rem;
  color: #181e4b;
  margin-bottom: 10px;
}
.destinations-section .destinations-container .destinations-content .destination-card .destination-details p {
  font-size: 1rem;
  color: grey;
  display: flex;
  align-items: center;
}
.destinations-section .destinations-container .destinations-content .destination-card .destination-details p .trip-icon {
  margin-right: 5px;
}
.destinations-section .destinations-container .destinations-content:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.booking-section {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.booking-section .steps {
  max-width: 40%;
}
.booking-section .steps h2 {
  color: #181e4b;
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  text-align: left;
  margin-bottom: 20px;
}
.booking-section .steps .step-list {
  list-style: none;
}
.booking-section .steps .step-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.booking-section .steps .step-list li .icon {
  margin-right: 20px;
  padding: 15px;
  border-radius: 13px;
  color: white;
}
.booking-section .steps .step-list li .step-info h3 {
  font-size: 1.4rem;
  margin-bottom: 5px;
  color: rgb(94, 98, 130);
}
.booking-section .steps .step-list li .step-info p {
  font-size: 1rem;
  color: rgb(94, 98, 130);
  line-height: 1.5;
}
.booking-section .steps .step-list li:nth-child(1) .icon {
  background-color: rgb(255, 196, 0);
}
.booking-section .steps .step-list li:nth-child(2) .icon {
  background-color: rgb(255, 72, 0);
}
.booking-section .steps .step-list li:nth-child(3) .icon {
  background-color: rgb(0, 76, 95);
}
.booking-section .trip-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 25px;
  box-shadow: -10px -30px 500px rgba(51, 51, 246, 0.46);
  width: 370px;
  height: 400px;
  border-radius: 26px;
  border: 1px solid rgb(132, 130, 154);
}
.booking-section .trip-card .trip-info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.booking-section .trip-card .trip-info h4 {
  width: 134px;
  height: 22px;
  top: 2702px;
  left: 840px;
  gap: 0px;
  opacity: 0px;
  color: rgb(8, 8, 9);
}
.booking-section .trip-card .trip-info p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.92px;
  letter-spacing: -0.005em;
  text-align: left;
  color: rgb(132, 130, 154);
}
.booking-section .trip-card .trip-info .jone-icon {
  display: flex;
  gap: 13px;
}
.booking-section .trip-card .trip-info .jone-icon .jone-imj {
  border-radius: 50%;
  padding: 5px;
  background: rgb(245, 245, 245);
}
.booking-section .trip-card .ongoing-card {
  display: flex;
  gap: 20px;
  align-items: start;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 20px;
  right: -100px;
  bottom: 30px;
  width: 263px;
  height: 129px;
  border-radius: 18px;
  background: rgb(255, 255, 255);
}
.booking-section .trip-card .ongoing-card .ongoing-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.booking-section .trip-card .ongoing-card .ongoing-img p {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.43px;
  letter-spacing: -0.035em;
  text-align: left;
  color: rgb(132, 130, 154);
}
.booking-section .trip-card .ongoing-card .ongoing-img p span {
  color: rgb(138, 121, 223);
}

.testimonial {
  padding-top: 100px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.testimonial-tex {
  max-width: 410px;
}
.testimonial-tex p {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: rgb(94, 98, 130);
  text-transform: uppercase;
}
.testimonial-tex h2 {
  font-family: Volkhov;
  font-size: 50px;
  font-weight: 700;
  line-height: 64.5px;
  text-align: left;
  color: #181e4b;
}

.testimonial-card {
  position: relative;
  width: 669px;
  height: 356px;
}
.testimonial-card img {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}
.testimonial-card .card-content {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  justify-content: space-between;
  width: 504px;
  height: 245px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  padding: 34px;
}
.testimonial-card .card-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(94, 98, 130);
}
.testimonial-card .card-content .tex span {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(94, 98, 130);
  text-align: left;
}
.testimonial-card .card-content2 {
  position: absolute;
  top: 100px;
  z-index: -1;
  left: 100px;
  display: flex;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  justify-content: space-between;
  width: 504px;
  height: 245px;
  border-radius: 10px;
  background: rgb(235, 233, 233);
  padding: 34px;
}
.testimonial-card .card-content2 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgb(94, 98, 130);
}
.testimonial-card .card-content2 .tex span {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(94, 98, 130);
  text-align: left;
}

.company {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company img:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}

.subscribe-section {
  width: 1170px;
  height: 407px;
  border-radius: 129px 20px 20px 20px;
  background-color: #f5e9fd;
  padding: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.subscribe-section .subscribe-content h2 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  color: rgb(20, 24, 62);
  margin-bottom: 60px;
  max-width: 880px;
}
.subscribe-section .subscribe-content .subscribe-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-section .subscribe-content .subscribe-form .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe-section .subscribe-content .subscribe-form .input-container input {
  width: 421px;
  height: 68px;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  outline: none;
  flex: 1;
  border-radius: 10px;
  color: #555;
}
.subscribe-section .subscribe-content .subscribe-form .input-container input::-moz-placeholder {
  color: #aaa;
}
.subscribe-section .subscribe-content .subscribe-form .input-container input::placeholder {
  color: #aaa;
}
.subscribe-section .subscribe-content .subscribe-form .input-container button {
  background-color: #ff775b;
  color: white;
  padding: 15px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.subscribe-section .subscribe-content .subscribe-form .input-container button:hover {
  background-color: #ff5733;
}
.subscribe-section .subscribe-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #181e4b;
}
.subscribe-section .subscribe-icon img {
  width: 30px;
  height: auto;
}

.footer {
  margin-top: 100px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 20px;
}
.footer .footer-content .footer-column {
  flex: 1;
  min-width: 150px;
  margin: 20px;
  text-align: left;
}
.footer .footer-content .footer-column h2.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(24, 30, 75);
}
.footer .footer-content .footer-column p.tagline {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
}
.footer .footer-content .footer-column h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 15px;
}
.footer .footer-content .footer-column ul {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-column ul li {
  margin-bottom: 10px;
}
.footer .footer-content .footer-column ul li a {
  text-decoration: none;
  color: #555;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}
.footer .footer-content .footer-column ul li a:hover {
  color: #ff775b;
}
.footer .footer-content .footer-column .social-media {
  display: flex;
  gap: 10px;
}
.footer .footer-content .footer-column .social-media a img {
  width: 50px;
  height: auto;
}
.footer .footer-content .footer-column .app-links {
  width: 300px;
}
.footer .footer-content .footer-column .app-links p {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #333;
}
.footer .footer-content .footer-column .app-links a img {
  width: 120px;
  margin: 5px 0;
}
.footer .footer-bottom {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}
.footer .footer-bottom p {
  font-size: 0.85rem;
  color: #777;
}

.absalyute {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 52px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 52px;
}
nav ul li {
  font-size: 17px;
  font-weight: 400;
  line-height: 21.62px;
  text-align: left;
  list-style: none;
}
nav .btn1 {
  border: none;
  background: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
}
nav .btn2 {
  width: 102px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #212832;
  background: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: center;
}
nav select {
  border: none;
  background: none;
  font-size: 17px;
  font-weight: 500;
  line-height: 21.62px;
  text-align: left;
}/*# sourceMappingURL=styles.css.map */